@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

body{
    font-family: 'Mochiy Pop P One', sans-serif;
    margin: 0px;
}
header, footer{
    background-color: rgb(67, 148, 60);
    
    
}
/*generio grid*/
.grid-container{
    display: grid;
    grid-template-rows: repeat(6,auto);
    grid-template-columns: repeat(4,1fr);

    grid-template-areas: 
    'header header header header'
    'header header header header'
    'medio medio medio medio'
    'medio medio medio medio'
    'medio medio medio medio'
    'footer footer footer footer';
}
/*le asigno al header su area en grid*/
.grid-header{
    grid-area: header;
}
/*todo header*/
.container{
    display: flex;
    justify-content: space-between;
}
#logo{
    display: flex;
    width: 15%;
}
.image{
    width: 100%;
}
#menu{
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    align-items: center;
    width: 75%;
}

#menu ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
#menu ul li{
    font-size: 22px;
    padding: 15px;
}
#menu ul li a{
    color: #000000;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    background-color: #fbdc5d;
    padding: 10px;
    padding-top: 8px;
}
#menu ul li a:hover{
    background-color: rgb(201, 155, 5);
}

.image-header{
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(../images/perroygato2.jpg);
    background-size: cover;
    background-position: center;
    
}
.image-header img{
    transition: opacity 1.5s ease-in-out;
}
.image-header img:hover{
    opacity: 0;
}

/*fin de header*/ 
/*le asigno area de grid al contenido medio*/
.grid-contenido{
    grid-area: medio;
    
}
/*todo contenido de main*/
.section-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.imagen-costado{  
    width: 45%; 
    margin: 15px;
}
.texto-costado{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 43%;
    text-align:center;
    padding: 10px;
}
.imagen{
    width: 100%;
    border: 1px solid black;
}


.titulos{
    text-align: center;
    font-size: 40px;
    margin-top: 5px;
}
.container-vete{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.texto-centro{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}
.container-medicos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.imagen-vete{
    width: 200px;
    height: 150px;
}
.imagenes{
    width: 100%;
    height: 100%;
}
.section-productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.imagen-productos{
    width: 300px;
    height: 400px;
    transition: all 1s;
}

.formulario{
    display: flex;
    width: 45%;
    margin-left: 10px;
}
.section-mapa{
    display: flex;
    width: 45%;
    margin-right: 10px;
}
.mapa{
    width: 100%;
}
/*animaciones*/
.animacion1{
    animation: anim1 1s linear 0s 1 normal forwards;
}

@keyframes anim1 {
    0% {
      transform: scaleY(0.4);
    }
  
    100% {
      transform: scaleY(1);
    }
  }
.animacion2{
    animation: anim2 2s linear 0s 1 normal forwards;
}
@keyframes anim2 {
    0% {
      animation-timing-function: ease-in;
      opacity: 1;
      transform: translateY(-45px);
    }
  
    24% {
      opacity: 1;
    }
  
    40% {
      animation-timing-function: ease-in;
      transform: translateY(-24px);
    }
  
    65% {
      animation-timing-function: ease-in;
      transform: translateY(-12px);
    }
  
    82% {
      animation-timing-function: ease-in;
      transform: translateY(-6px);
    }
  
    93% {
      animation-timing-function: ease-in;
      transform: translateY(-4px);
    }
  
    25%,
    55%,
    75%,
    87% {
      animation-timing-function: ease-out;
      transform: translateY(0px);
    }
  
    100% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: translateY(0px);
    }
  }
.animacion-productos:hover{
    transform: scale(1.1);
}
.animacion3{
    animation: anim3 2s ease 0s 1 normal forwards;
}
@keyframes anim3 {
    0% {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    40% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    50% {
      transform: scale3d(0.85, 1.15, 1);
    }
  
    65% {
      transform: scale3d(1.05, 0.95, 1);
    }
  
    75% {
      transform: scale3d(0.95, 1.05, 1);
    }
  
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
/*le asigno a footer su area en grid*/
.container-footer{
    grid-area: footer;
    display: flex;
}
/*todo el contenido de footer*/
.container-redes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}
.texto-redes {
   
   text-align: center;
}
.redes{
    width: 10%;
}
.images-redes{
    width: 100%;
    display: flex;
    justify-content: center;
}
.images {
    width: 100%;
}
.images:hover{
    transform: scale(1.1);
}
.direccion{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*fin de footer*/

/* inicio media 600px a 1023px*/
@media all and (min-width: 600px) and (max-width: 1023px){
    #logo{  
        height: 150px;
        width: 150px;
    }
    #menu{ 
        width: 75%;
    }
    #menu ul li{
        font-size: 20px;
       
    }
    /*fin de header*/ 
    /*todo contenido de main*/
    
    .titulos{
        font-size: 30px;
    }
    
    .imagen-costado{
        display: flex;
        align-items: center;
    }
    .productos{
        width: 45%;
    }
    /*todo el contenido de footer*/
    .redes{
        width: 12%;
    }
}
/* fin media 600px a 1023px */

/* inicio media menos 599px */
@media all and (max-width: 599px){
    .container{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #logo{
        display: flex;
        justify-content: center;
        width: 35%;
    }
    
    #menu{
        display: flex;
        justify-content: center;
        flex-direction: column;
        
    }
    #menu ul li{
        font-size: 19px;
    }

    /*fin de header*/ 

    /*todo contenido de main*/
    .section-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .imagen-costado{    
        width: 93%;
    }
    .texto-costado{
        width: 93%;
    }
    
    
    .titulos{
        font-size: 30px;
    }
    .container-vete{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    .imagen-vete{
        width: 170px;
        height: 120px;
    }
    .section-productos{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .imagen-productos{
        width: 250px;
        height: 300px;
    }
    .formulario{
        width: 95%;
       
    }
    .section-mapa{
        width: 95%;
        
    }
    /*todo el contenido de footer*/
    .container-footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .texto-redes {
       
       text-align: center;
    }
    .redes{
        width: 45px;
    }
    .images-redes{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .images {
        width: 100%;
    }
    .direccion{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
