@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
body {
  font-family: "Mochiy Pop P One", sans-serif;
  margin: 0px;
}

/*Genero grid*/
.grid-container {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "headerr headerr headerr headerr" "headerr headerr headerr headerr" "medio medio medio medio" "medio medio medio medio" "medio medio medio medio" "footer footer footer footer";
}

/*asigno grid a las secciones*/
.grid-header {
  grid-area: headerr;
}

.grid-contenido {
  grid-area: medio;
}

.container-footer {
  grid-area: footer;
}

.mapa, .imagenes, .imagen, .image {
  width: 100%;
}

/* es lo unico que encontre que se repite como para usar el extend*/
/* Header */
.grid-header {
  background-color: #fbdc5d;
}
.grid-header .navb .divi #logo {
  display: flex;
  width: 20%;
}
@media all and (min-width: 600px) and (max-width: 1023px) {
  .grid-header .navb .divi #logo {
    width: 30%;
  }
}
@media all and (max-width: 599px) {
  .grid-header .navb .divi #logo {
    width: 35%;
  }
}
.grid-header .navb .divi .menu ul li {
  font-size: 20px;
  padding: 15px;
}
.grid-header .navb .divi .menu ul li a {
  color: black;
}
.grid-header .navb .divi .menu ul li a:hover {
  color: black;
  transform: scale(1.1);
}

/* Fin Header */
.mapa, .imagenes, .imagen, .image {
  width: 100%;
}

/* es lo unico que encontre que se repite como para usar el extend*/
/* Contenido de Main */
.grid-contenido {
  background-color: #fcf4daf1;
}

.imagen {
  border: 1px solid black;
  border-radius: 2%;
}

.titulos {
  font-size: 40px;
  margin-top: 5px;
}
@media all and (max-width: 1023px) {
  .titulos {
    font-size: 30px;
  }
}

.imagen-vete {
  width: 200px;
  height: 150px;
  border: 1px solid black;
  border-radius: 5%;
}

.imagenes {
  height: 100%;
  border-radius: 5%;
}

.imagen-productos {
  width: 300px;
  height: 400px;
  transition: all 1s;
}

/*animaciones*/
.animacion1 {
  animation: anim1 1s linear 0s 1 normal forwards;
}

@keyframes anim1 {
  0% {
    transform: scaleY(0.4);
  }
  100% {
    transform: scaleY(1);
  }
}
.animacion2 {
  animation: anim2 2s linear 0s 1 normal forwards;
}

@keyframes anim2 {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-45px);
  }
  24% {
    opacity: 1;
  }
  40% {
    animation-timing-function: ease-in;
    transform: translateY(-24px);
  }
  65% {
    animation-timing-function: ease-in;
    transform: translateY(-12px);
  }
  82% {
    animation-timing-function: ease-in;
    transform: translateY(-6px);
  }
  93% {
    animation-timing-function: ease-in;
    transform: translateY(-4px);
  }
  25%, 55%, 75%, 87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }
  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}
.animacion-productos:hover {
  transform: scale(1.1);
}

.animacion3 {
  animation: anim3 2s ease 0s 1 normal forwards;
}

@keyframes anim3 {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
/* Fin Contenido de main*/
/* Footer */
.container-footer {
  background-color: #fbdc5d;
}

.redes {
  width: 10%;
}
@media all and (max-width: 1023px) {
  .redes {
    width: 13%;
  }
}

.images {
  width: 100%;
}
.images:hover {
  transform: scale(1.1);
}

/* Fin Footer */

/*# sourceMappingURL=style.css.map */
