@import '../base/variables';

body{
    font-family: 'Mochiy Pop P One', sans-serif;
    margin: 0px;
}

/*Genero grid*/
.grid-container{
    display: grid;
    grid-template-rows: repeat(6,auto);
    grid-template-columns: repeat(4,1fr);

    grid-template-areas: 
    'headerr headerr headerr headerr'
    'headerr headerr headerr headerr'
    'medio medio medio medio'
    'medio medio medio medio'
    'medio medio medio medio'
    'footer footer footer footer';
}
/*asigno grid a las secciones*/
.grid-header{
    grid-area: headerr;
}
.grid-contenido{
    grid-area: medio;  
}
.container-footer{
    grid-area: footer;
}