@import '../base/variables';
@import '../base/lista';

/* Header */
.grid-header{
    background-color: $bg-color;
    .navb{
        .divi{
            #logo{
                display: flex;
                width: 20%;
                @media all and (min-width: 600px) and (max-width: 1023px){
                    height: nth($sizes , 4 );
                    width: nth($sizes , 4 ); 
                }
                @media all and (max-width: 599px){
                    width: 35%;
                }
            }
            .menu {
                ul {
                    li {
                        font-size: nth($sizes , 3);
                        padding: 15px;
                        a {
                            color: $color-negro;
                            &:hover {
                                color: $color-negro;
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }

    }
}
.image{
    width: $ancho;
}
/* Fin Header */